.ng-artists {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ngx-artists__container-card {
    width: 75%;
    margin: 20px;

    @media screen and (max-width: 960px) {
        width: 100%;
        margin: 0;
    }
}

.ngx-artists-artist-card {
    max-width: 400px;
    max-height: 560px;
}

.ngx-artists-artist-card__thumb-img {
    background-size: cover;
}

.ngx-artists-artist-card__artist-img {
    margin-top: 10px;
}

.ngx-artists-artist-result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ngx-artists-artist-table {
    margin-top: 10px;
}

.ngx-artists-artist-table__empty-state {
    width: 100%;
    padding: 0 16px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}