<div class="ng-artists">
    <mat-card class="ngx-artists__card">
        <mat-card-title>
                Search artist by name
        </mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel (opened)="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Artist Name
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput
                                   placeholder="Name"
                                   [(ngModel)]="artistName"
                            >
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button color="primary" (click)="searchArtist()">Search</button>
                        </mat-action-row>
                    </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>
